@font-face {
  font-family: Magista;
  src: url("../public/font/magista-font/Magista-nR3V4.otf");
}

@font-face {
  font-family: Megan;
  src: url("../public/font/megan-font/MegandemofontRegular-axGea.otf");
}

@font-face {
  font-family: Te-quirtez;
  src: url("../public/font/te-quirtez-font/TeQuirtez-mLGEP.otf");
}

* {
  max-width: 100vw;
  overflow: hidden;
}
