.products {
    background-color: #FFF7F0;
    padding-top: 5vw;
    padding-bottom: 5vw;
    .judul {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        font-family: 'Noto Serif';
        margin-bottom: 2vh;
    }
    .setting {
        display: flex;
        justify-content: space-between;
        width: 68.5%;
        margin: auto;
        margin-bottom: 3vw;
        font-family: 'Noto Sans';

        .box-total {
            margin: auto 0;
        }
        .box-filter {
            display: flex;

            .label-sort {
                margin: auto 1vw;
            }
            .box-sort {
                margin: auto 1vw;

                .button {
                    display: flex;
                    justify-content: space-between;
                    width: 16vw;
                    padding: 10px;
                    background-color: white;
                    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 5px;
                    cursor: pointer;
                    color: #666;
                    font-size: 0.8vw;
                }
                .items {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    margin-top: 1vw;

                    .item {
                        width: 16vw;
                        padding: 10px;
                        background-color: white;
                        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                        cursor: pointer;
                        color: #666;
                        font-size: 0.8vw;
                    }
                    .item:hover {
                        color: black;
                    }
                    #rendah {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    #tinggi {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
            .box-search {
                display: flex;
                box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                border-radius: 5px;
                background-color: white;
                padding: 12px;

                .search {
                    width: 1vw;
                    margin-right: 0.5vw;
                }
                .input {
                    font-size: 0.8vw;
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 70%;
        
        // CSS BOX PRODUCT
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            margin-bottom: 2vw;
            .foto {
                width: 21.5vw;
                margin-bottom: 1vw;
            }
            hr {
                color: black;
                background-color: black;
                width: 12vw;
                height: 1.2px;
            }
            .nama {
                font-size: 1.2vw;
                font-family: 'Noto Serif';
                font-weight: bold;
                margin-top: 1vw;
                margin-bottom: 0.3vw;
            }
            .harga {
                font-size: 1vw;
                font-family: 'Noto Sans';
            }
            .button {
                margin: 1vw auto;
                padding: 0.5vw 2.2vw;   
                color: white;
                background-color: #F63866;
                font-family: 'Noto Sans';
                font-weight: bold;
                font-size: 1.2vw;
            }
            .button:hover {
                opacity: 50%;
            }
            .button:active {
                opacity: 100%;
                box-shadow: inset 0 0 5px black;
            }
        }
    }
    .numberPage {
        display: flex;
        margin: auto;
        justify-content: flex-end;
        width: 70%;
        .button {
            border: 1px solid #F1F1F1;
            background-color: #FFF;
            border-radius: 8px;
            padding: 10px 16px;
            margin-left: 0.7vw;
            color: black;
            font-family: 'Noto Sans';
            font-size: 1vw;
        }
        .button:hover {
            background-color: #F1F1F1;
        }
        .current {
            border: 1px solid #F1F1F1;
            border-radius: 8px;
            padding: 10px 16px;
            margin-left: 0.7vw;
            background-color: #F63866;
            color: white;
        }
        .current:hover {
            background-color: #F63866;
        }
    }
}