.products {
    background-color: #FFF7F0;
    padding-top: 5vw;
    padding-bottom: 5vw;
    .judul {
        display: flex;
        justify-content: center;
        font-size: 3vw;
        font-family: 'Noto Serif';
        margin-bottom: 2vh;
    }
    .setting {
        display: flex;
        justify-content: space-between;
        width: 68.5%;
        margin: auto;
        margin-bottom: 3vw;
        font-family: 'Noto Sans';

        .box-total {
            margin: auto 0;
            .total {
                font-size: 1vw;
            }
        }
        .box-filter {
            display: flex;

            .label-sort {
                margin: auto 1vw;
                font-size: 1vw;
            }
            .box-sort {
                margin: auto 1vw;

                .button {
                    display: flex;
                    justify-content: space-between;
                    width: 16vw;
                    padding: 10px;
                    background-color: white;
                    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 5px;
                    cursor: pointer;
                    color: #666;
                    font-size: 0.8vw;
                }
                .items {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    margin-top: 1vw;

                    .item {
                        width: 16vw;
                        padding: 10px;
                        background-color: white;
                        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                        cursor: pointer;
                        color: #666;
                        font-size: 0.8vw;
                    }
                    .item:hover {
                        color: black;
                    }
                    #rendah {
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                    #tinggi {
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
            .box-search {
                display: flex;
                box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                border-radius: 5px;
                background-color: white;
                padding: 12px;

                .search {
                    width: 1vw;
                    margin-right: 0.5vw;
                }
                .input {
                    font-size: 0.8vw;
                    background-color: transparent;
                    border: none;
                }
            }
        }
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: 70%;
        
        // CSS BOX PRODUCT
        .box {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;
            margin-bottom: 2vw;
            .foto {
                width: 21.5vw;
                margin-bottom: 1vw;
            }
            hr {
                color: black;
                background-color: black;
                width: 12vw;
                height: 1.2px;
            }
            .nama {
                font-size: 1.2vw;
                font-family: 'Noto Serif';
                font-weight: bold;
                margin-top: 1vw;
                margin-bottom: 0.3vw;
            }
            .harga {
                font-size: 1vw;
                font-family: 'Noto Sans';
            }
            .button {
                margin: 1vw auto;
                padding: 0.5vw 2.2vw;   
                color: white;
                background-color: #F63866;
                font-family: 'Noto Sans';
                font-weight: bold;
                font-size: 1.2vw;
            }
            .button:hover {
                opacity: 50%;
            }
            .button:active {
                opacity: 100%;
                box-shadow: inset 0 0 5px black;
            }
        }
    }
    .numberPage {
        display: flex;
        margin: auto;
        justify-content: flex-end;
        width: 70%;
        .button {
            border: 1px solid #F1F1F1;
            background-color: #FFF;
            border-radius: 8px;
            padding: 10px 16px;
            margin-left: 0.7vw;
            color: black;
            font-family: 'Noto Sans';
            font-size: 1vw;
        }
        .button:hover {
            background-color: #F1F1F1;
        }
        .current {
            border: 1px solid #F1F1F1;
            border-radius: 8px;
            padding: 10px 16px;
            margin-left: 0.7vw;
            background-color: #F63866;
            color: white;
        }
        .current:hover {
            background-color: #F63866;
        }
    }
}

@media screen and (max-width: 1000px) {
    .products {
        .setting {
            .box-total {
                .total {
                    font-size: 1.5vw;
                }
            }
            .box-filter {
                .label-sort {
                    font-size: 1.5vw;
                }
                .box-sort {
                    .button {
                        font-size: 1vw;
                    }
                    .items {
                        font-size: 1.2vw;
                    }
                }
                .box-search {
                    .input {
                        font-size: 1vw;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .products {
        .setting {
            width: 85%;
            .box-filter {
                .box-sort {
                    margin: auto 1vw;
    
                    .button {
                        display: flex;
                        justify-content: space-between;
                        width: 20vw;
                        padding: 10px;
                        background-color: white;
                        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                        border-radius: 5px;
                        cursor: pointer;
                        color: #666;
                        font-size: 1.2vw;
                    }
                    .items {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        margin-top: 1vw;
    
                        .item {
                            width: 20vw;
                            padding: 10px;
                            background-color: white;
                            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                            cursor: pointer;
                            color: #666;
                            font-size: 1vw;
                        }
                        .item:hover {
                            color: black;
                        }
                        #rendah {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        #tinggi {
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
                .box-search {
                    display: flex;
                    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 5px;
                    background-color: white;
                    padding: 10px;
    
                    .search {
                        width: 1.5vw;
                        margin-right: 0.5vw;
                    }
                    .input {
                        font-size: 1.2vw;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            width: 90%;
            
            // CSS BOX PRODUCT
            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                margin-bottom: 2vw;
                .foto {
                    width: 25vw;
                    margin-bottom: 1vw;
                }
                hr {
                    color: black;
                    background-color: black;
                    width: 20vw;
                    height: 1.2px;
                }
                .nama {
                    font-size: 1.8vw;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    margin-top: 1vw;
                    margin-bottom: 0.3vw;
                }
                .harga {
                    font-size: 1.5vw;
                    font-family: 'Noto Sans';
                }
                .button {
                    margin: 1vw auto;
                    padding: 0.7vw 2.5vw;   
                    color: white;
                    background-color: #F63866;
                    font-family: 'Noto Sans';
                    font-weight: bold;
                    font-size: 1.5vw;
                }
                .button:hover {
                    opacity: 50%;
                }
                .button:active {
                    opacity: 100%;
                    box-shadow: inset 0 0 5px black;
                }
            }
        }
        .numberPage {
            display: flex;
            margin: auto;
            justify-content: flex-end;
            width: 90%;
            .button {
                border: 1px solid #F1F1F1;
                background-color: #FFF;
                border-radius: 8px;
                padding: 8px 10px;
                margin-left: 0.7vw;
                color: black;
                font-family: 'Noto Sans';
                font-size: 1vw;
                
                .logo {
                    width: 1.5vw;
                }
            }
            .button:hover {
                background-color: #F1F1F1;
            }
            .current {
                border: 1px solid #F1F1F1;
                border-radius: 8px;
                padding: 10px 16px;
                margin-left: 0.7vw;
                background-color: #F63866;
                color: white;
            }
            .current:hover {
                background-color: #F63866;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .products {
        .judul {
            font-size: 7vw;
        }
        .setting {        
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: auto;
            margin-bottom: 3vw;
            font-family: 'Noto Sans';

            .box-total {
                margin: auto;
                margin-bottom: 2vh;

                .total {
                    font-size: 2.8vw;
                }
            }
            .box-filter {
                margin: auto;

                .label-sort {
                    font-size: 2.8vw;
                }
                .box-sort {
                    margin: auto 1vw;
    
                    .button {
                        display: flex;
                        justify-content: space-between;
                        width: 28vw;
                        padding: 6px;
                        background-color: white;
                        box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                        border-radius: 5px;
                        cursor: pointer;
                        color: #666;
                        font-size: 1.8vw;
                    }
                    .items {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        margin-top: 1vw;
    
                        .item {
                            width: 28vw;
                            padding: 6px;
                            background-color: white;
                            box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                            cursor: pointer;
                            color: #666;
                            font-size: 1.8vw;
                        }
                        .item:hover {
                            color: black;
                        }
                        #rendah {
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        #tinggi {
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
                .box-search {
                    display: flex;
                    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 5px;
                    background-color: white;
                    padding: 6px;
    
                    .search {
                        width: 2.5vw;
                        margin-right: 0.5vw;
                    }
                    .input {
                        font-size: 1.5vw;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            width: 90%;
            
            // CSS BOX PRODUCT
            .box {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: auto;
                margin-bottom: 2vw;

                .foto {
                    width: 60vw;
                    margin-bottom: 1vw;
                }
                hr {
                    color: black;
                    background-color: black;
                    width: 50vw;
                    height: 2px;
                }
                .nama {
                    font-size: 4.5vw;
                    font-family: 'Noto Serif';
                    font-weight: bold;
                    margin-top: 1vw;
                    margin-bottom: 0.3vw;
                }
                .harga {
                    font-size: 3.5vw;
                    font-family: 'Noto Sans';
                }
                .button {
                    margin: 1vw auto;
                    padding: 1vw 10vw;   
                    color: white;
                    background-color: #F63866;
                    font-family: 'Noto Sans';
                    font-weight: bold;
                    font-size: 3vw;
                }
                .button:hover {
                    opacity: 50%;
                }
                .button:active {
                    opacity: 100%;
                    box-shadow: inset 0 0 5px black;
                }
            }
        }
        .numberPage {
            display: flex;
            margin: auto;
            justify-content: center;
            width: 90%;
            .button {
                border: 1px solid #F1F1F1;
                background-color: #FFF;
                border-radius: 8px;
                padding: 8px 10px;
                margin-left: 1vw;
                color: black;
                font-family: 'Noto Sans';
                font-size: 2.5vw;
                
                .logo {
                    width: 2.5vw;
                }
            }
            .button:hover {
                background-color: #F1F1F1;
            }
            .current {
                border: 1px solid #F1F1F1;
                border-radius: 8px;
                padding: 10px 16px;
                margin-left: 0.7vw;
                background-color: #F63866;
                color: white;
            }
            .current:hover {
                background-color: #F63866;
            }
        }
    }
}